<% # @Author: Robert D. Cotey II <coteyr@coteyr.net> %>
<% # @Date:   2016-12-22 05:42:37 %>
<% # @Last Modified by:   Robert D. Cotey II <coteyr@coteyr.net> %>
<% # @Last Modified time: 2016-12-22 05:42:37 %>


<%= row do %>
  <%= well 'Background Tasks' do %>
<table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Priority</th>
        <th>Attempts</th>
        <th>Run At</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'job', collection: @jobs %>
    </tbody>
  </table>
  <% end %>
<% end %>

