<% # @Author: Robert D. Cotey II <coteyr@coteyr.net> %>
<% # @Date:   2016-12-22 11:18:10 %>
<% # @Last Modified by:   Robert D. Cotey II <coteyr@coteyr.net> %>
<% # @Last Modified time: 2016-12-22 11:18:10 %>

<tr>
  <td><%= import.id %></td>
  <td><%= import.status %></td>
  <td><%= l(import.created_at) %></td>
</tr>
